datasets/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.idea/
.vscode/
logs/*.log*
data/external/string_cache/**/*.parquet
data/checkpoints/**/*
!data/checkpoints/.gitkeep
data/interim/**/*
!data/interim/.gitkeep
data/processed/**/*
!data/processed/.gitkeep
reports/**/*
!reports/**/.gitkeep
.ipynb_checkpoints/
